
body{
	background-image: url(https://avatars.mds.yandex.net/get-pdb/1642325/d4eab73b-62d4-4ba8-baed-19990871b312/orig
);}
#basic {
	position: relative;
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px 10px 20px 20px;
    background: #fff;

}

#basic {
	position: relative;
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px 10px 20px 20px;
   background: #fff;}

/*кнопки*/
-webkit-appearance: none;
-webkit-border-radius: 0;
button {
    border-radius: 0px;
}
@media only screen and (min-width : 870px) and (max-width : 1500px) {
	.foto{
		width :90%;
	}
	#basic {
		width: 70%;
	}
}
